th{
    padding: 0 10px 5px 80px;
}

td {
  vertical-align: middle; /* متن در وسط عمودی قرار می‌گیرد */
}

.body{
    width: calc(100% - 40px);
    margin: 20px auto;
}

.user-form{
  width: 700px;
  padding: 15px 10px 0;
}

.user-form input{
  margin-bottom: 15px;
}

.user-form label{
  padding-left: 20px !important;
}