.body {
  width: calc(100% - 40px);
  margin: 20px auto;
}

.select-rtl {
  background-position: left 0.75rem center; /* جابجا کردن فلش */
  padding-left: 2rem; /* فاصله برای فلش */
  padding-right: 0.75rem; /* اصلاح فاصله راست */
}

.form-label {
  text-align: right;
  display: block; /* اطمینان از اینکه block باشد و بتواند چپ و راست شود */
  margin-bottom: 0.2rem;
}

.input-group-text{
  border-left: none !important;
  border-radius: 0px;
}

select{
   border-radius: 0px !important;
}