.body{
      width: calc(100% - 40px);
    margin: 20px auto;
}

.select-rtl {
  background-position: left 0.75rem center; /* جابجا کردن فلش */
  padding-left: 2rem; /* فاصله برای فلش */
  padding-right: 0.75rem; /* اصلاح فاصله راست */
}
